<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LnkdDataModel" connectionString="data source=localhost;initial catalog=ServiceHost.LnkdDataModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="loginWebHttpBinding" />
        <binding name="profileWebHttpBinding" />
        <binding name="projectWebHttpBinding" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="loginWebBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="profilWebBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="projectWebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="ServiceHost.LoginService">
        <endpoint address="LoginService" behaviorConfiguration="loginWebBehavior"
          binding="webHttpBinding" bindingConfiguration="" name="loginHttp"
          contract="ServiceHost.ILoginService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="loginMex"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="serviceBehavior" name="ServiceHost.ProfilService">
        <endpoint address="ProfilService" behaviorConfiguration="profilWebBehavior"
          binding="webHttpBinding" bindingConfiguration="profileWebHttpBinding"
          name="webProfilEndpoint" contract="ServiceHost.IProfilService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="profilmex" binding="mexHttpBinding" name="mexProfilEndpoint"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceHost.ProjectService">
        <endpoint address="project" behaviorConfiguration="projectWebBehavior"
          binding="webHttpBinding" bindingConfiguration="projectWebHttpBinding"
          name="ProjectEndpoint" contract="ServiceHost.IProjectService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8735" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>